<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application>
        <meta-data android:name="io.sentry.dsn"
                   android:value="https://4820ee0abfcc472c96fd0f03d646b58f@glitchtip.imanuel.dev/2"/>
        <meta-data android:name="io.sentry.enabled" android:value="true" tools:replace="android:value"/>
        <meta-data android:name="io.sentry.anr.enable" android:value="false"/>
        <meta-data android:name="io.sentry.environment" android:value="release"/>
        <meta-data android:name="io.sentry.traces.user-interaction.enable" android:value="false"/>
        <meta-data android:name="io.sentry.attach-screenshot" android:value="false"/>
        <meta-data android:name="io.sentry.attach-view-hierarchy" android:value="true"/>
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0"/>
        <meta-data android:name="io.sentry.traces.profiling.sample-rate" android:value="1.0"/>
    </application>
</manifest>